<app-page-title title="Products" [children]="[{title: 'Products'}]"></app-page-title>

<!-- Page Content-->
<div class="container padding-bottom-3x mb-1">
    <!-- Shop Toolbar-->
    <div class="shop-toolbar padding-bottom-1x mb-2">
        <div class="column">
            <div class="shop-sorting">
                <label for="sorting">Sort by:</label>
                <select class="form-control" id="sorting" #selectSort (change)="onSort(selectSort.value)">
                    <option value="date:reverse" [selected]="(uiService.sorting$ | async) === 'date:reverse'">Newest Articles</option>
                    <option value="price" [selected]="(uiService.sorting$ | async) === 'price'">Low - High Price</option>
                    <option value="price:reverse" [selected]="(uiService.sorting$ | async) === 'price:reverse'">High - Low Price</option>
                    <option value="name" [selected]="(uiService.sorting$ | async) === 'name'">A - Z Order</option>
                    <option value="name:reverse" [selected]="(uiService.sorting$ | async) === 'name:reverse'">Z - A Order</option>
                </select>
                <span class="text-muted">Showing:&nbsp;</span>
                <span>1 - 12 items</span>
            </div>
        </div>
        <div class="column">
            <a *ngIf="user && user.role && user.role ==='admin'" class="btn btn-primary mt-0 mr-0 align-top" routerLink="/admin/add" href="">
                <i class="icon-plus"></i>
                <span> Add New Products</span>
            </a>
            <div class="shop-view">
                <a href="" class="grid-view" [ngClass]="{active: (uiService.displayMode$ | async) === 'grid'}" (click)="onDisplayModeChange('grid', $event)">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <a href="" class="list-view" [ngClass]="{active: (uiService.displayMode$ | async) === 'list'}" (click)="onDisplayModeChange('list', $event)">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
    </div>


    <div class="products-list" [ngClass]="{'loading' : productsLoading}">
        <!-- Products Grid Mode View -->
        <div class="row" *ngIf="(uiService.displayMode$ | async) === 'grid'">
            <app-products-list-item ngClass="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let product of productsPaged" [product]="product"
                [displayMode]="(uiService.displayMode$ | async)">
            </app-products-list-item>
        </div>

        <!-- Products List Mode View-->
        <div class="row" *ngIf="(uiService.displayMode$ | async) === 'list'">
            <app-products-list-item ngClass="col-12" *ngFor="let product of products" [product]="product" [displayMode]="(uiService.displayMode$ | async)">
            </app-products-list-item>
        </div>
    </div>



    <!-- Pagination-->
    <nav *ngIf="pager.pages && pager.pages.length && (uiService.displayMode$ | async) ==='grid'"class="pagination">
        <div class="column text-left hidden-xs-down">
            <a class="btn btn-outline-secondary btn-sm" [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(pager.currentPage - 1)"><i class="icon-arrow-left"></i>&nbsp;Previous
            </a>
        </div>
        <div class="column text-center">
            <ul class="pages">
                <li *ngFor="let page of pager.pages" [ngClass]="{active: pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
            </ul>
        </div>
        <div class="column text-right hidden-xs-down">
            <a class="btn btn-outline-secondary btn-sm" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.currentPage + 1)">Next&nbsp;
                <i class="icon-arrow-right"></i>
            </a>
        </div>
    </nav>
