  <!-- Off-Canvas Wrapper-->
  <div class="offcanvas-wrapper" style="z-index: 5;">
    <!-- Page Content-->
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>

  <!-- Back To Top Button-->
  <a class="scroll-to-top-btn" href="#">
    <i class="icon-arrow-up"></i>
  </a>


  <!-- Backdrop-->
  <div class="site-backdrop" (click)="onMenuClose($event)"></div>
