<div class="main-wrapper" style="overflow: hidden;" [ngClass]="{'offcanvas-open': offcanvasService.offcanvasNavigationOpen | async}">
    <app-navigation-off-canvas></app-navigation-off-canvas>
    <app-top-bar></app-top-bar>
    <app-header *ngIf="!router.url.includes('register-login')"></app-header>
    <app-content></app-content>
</div>
