@import '~scss/helpers/variables';
@import '~scss/helpers/mixins';
@import '~scss/helpers/placeholders';

// Main Navigation
.site-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;

  ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    > li {

      > a {
        padding: 0 15px;
        transition: color .3s;
        color: $nav-link-color;

        font: {
          size: $nav-link-font-size;
          weight: $nav-link-font-weight;
        }

        text-decoration: none;
			}
      &:hover > a { color: $nav-link-hover-color; }
      &.active > a { color: $nav-link-active-color; }
		}
	}
  > ul {
    display: table;
    height: 100%;
    min-height: 100%;

    > li {
      display: table-cell;
      position: relative;
      vertical-align: middle;

      > a {
        display: table;
        height: 100%;
        min-height: 100%;
        border-top: 1px solid transparent;
        letter-spacing: .05em;
        text-transform: uppercase;
        > span {
          display: table-cell;
          vertical-align: middle;
				}
      }

      &.active > a {
        border-top-color: $nav-link-active-color;
        border-top-width: thick !important;
			}
		}
	}
}

// Sub Menu
.sub-menu { @extend %sub-menu; }
.site-menu ul > li:hover {

  > .sub-menu {
    display: block;
    animation: submenu-show .3s cubic-bezier(.68, -.55, .265, 1.55);
  }

  > .mega-menu {
    display: table;
    animation: megamenu-show .45s cubic-bezier(.68, -.55, .265, 1.55);
    .sub-menu {
      animation: none;
    }
  }
}

// Mega Menu
.mega-menu { @extend %mega-menu; }
.site-menu > ul > li.has-megamenu { position: static; }
