<!-- Main Navigation-->
<nav class="site-menu navbar-dark bg-dark">
    <ul>
        <li routerLinkActive="active">
            <a routerLink="/home" href="">
                <span>Home</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/products" href="">
                <span>Products</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/cart" href="">
                <span>Cart</span>
            </a>
        </li>
        <li *ngIf="user && user.role && user.role ==='admin'" routerLinkActive="active">
            <a routerLink="/admin/add" href="">
                <span>Admin Room</span>
            </a>
        </li>
    </ul>
</nav>
