//
// Site Header (Topbar + Navbar)
// --------------------------------------------------

// Topbar
.topbar {
  display: table;
  position: relative;
  width: 100%;
  height: 40px;
  padding: 0 30px;
  border-bottom: 1px solid $border-color;
  background-color: $gray-lighter;
  z-index: 9010;
  .topbar-column {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    &:last-child { text-align: right; }
    &:first-child { text-align: left; }
    a:not(.social-button), span, p {
      color: $nav-link-color;
      font-size: $font-size-xs;
		}
    > a:not(.social-button), > span, > p {
      display: inline-block;
      margin: {
        top: 5px;
        bottom: 5px;
			}
      > i { margin-top: -3px; }
      > i.icon-download { margin-top: -4px; }
		}
    a:not(.social-button) {
      transition: color .3s;
      text-decoration: none;
      &:hover { color: $nav-link-hover-color; }
		}
	}
  .topbar-column:last-child {
    > a:not(.social-button), > span, > p {
      margin-left: 20px;
		}
	}
  .topbar-column:first-child {
    > a:not(.social-button), > span, > p {
      margin-right: 20px;
		}
  }

  // Ghost Version
  &.topbar-ghost {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-color: rgba($white-color, .15);
    background-color: rgba($white-color, .05);
    .topbar-column {
      a:not(.social-button):not(.dropdown-item), span, p { color: $white-color; }
      a:not(.social-button):not(.dropdown-item):hover {
        color: $nav-link-hover-color;
      }
    }
    .lang-currency-switcher-wrap .lang-currency-switcher > .currency {
      border-left-color: rgba($white-color, .15);
    }
    .dropdown-toggle::after { color: $white-color; }
  }
}

// Language / Currency Switcher
.lang-currency-switcher-wrap {
  display: inline-block;
  position: relative;
  margin-left: 22px;
  cursor: pointer;
  vertical-align: middle;
  .lang-currency-switcher {
    > .language, > .currency, &::after {
      display: inline-block;
      transition: color .3s;
      font: {
        size: $nav-link-font-size;
        weight: $nav-link-font-weight;
      }
      text-transform: uppercase;
      vertical-align: middle;
    }
    > .language { width: 20px; }
    > .currency {
      margin-left: 12px;
      padding: 4px 0 4px 12px;
      border-left: 1px solid $border-color;
    }
    &::after {
      margin-left: 6px;
      transition: all .3s;
    }
    &:hover {
      > .language, > .currency, &::after {
        color: $nav-link-hover-color;
      }
    }
  }
  &.show {
    > .lang-currency-switcher .currency,
    > .lang-currency-switcher::after {
      color: $nav-link-active-color;
    }
  }
  .dropdown-menu {
    right: 0;
    left: auto;
    padding-bottom: 12px;
  }
  .dropdown-item {
    padding: {
      top: 4px;
      bottom: 4px;
    }
    > img {
      display: inline-block;
      width: 17px;
      margin: {
        top: -1px;
        right: 7px;
      }
      vertical-align: middle;
    }
  }
  .currency-select {
    padding: {
      top: 7px;
      right: 20px;
      bottom: 10px;
      left: 20px;
    }
  }
}

// Search
.site-search-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
.search-results {
  position: absolute;
  top: 84px;
  left: -15px;
  width: 100%;
  background: #ffffff;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.05);

  @media (max-width: 1070px) {
    top: 78px;
  }

  ul {
    padding: 10px;
    margin: 0;
    list-style: none;

    li {
      padding: 10px 40px;
     }
  }
}
.site-search {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .3s;
  background-color: $white-color;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  > input {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: {
      right: 120px;
      left: 30px;
    }
    border: 0;
    background-color: $white-color;
    color: $body-color;
    font-size: $font-size-base;
    &:focus { outline: 0; }
    @include placeholder;
  }
  .search-tools {
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -20px;
    z-index: 5;
    .clear-search,
    .close-search {
      display: inline-block;
      transition: color .25s;
      cursor: pointer;
      vertical-align: middle;
    }
    .clear-search {
      padding: 10px 0;
      color: $gray;
      font: {
        size: 11px;
        weight: 500;
      }
      letter-spacing: .1em;
      text-transform: uppercase;
      &:hover { color: $gray-dark; }
    }
    .close-search {
      margin-left: 10px;
      padding: {
        top: 4px;
        bottom: 10px;
        left: 10px;
      }
      &:hover { color: $gray; }
    }
  }
  &.search-visible {
    opacity: 1;
    visibility: visible;
  }
  @media (max-width: $screen-xl) {
    &> input {
      padding: {
        right: 105px;
        left: 15px;
      }
    }
    .search-tools { right: 15px; }
  }
}

// Navbar
.navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: $navbar-min-height;
  border-bottom: 1px solid $border-color;
  background-color: $white-color;
  z-index: 9000;
  &.navbar-stuck {
    position: fixed;
    box-shadow: $navbar-stuck-shadow;
    z-index: 9010;
  }
}

// Site Logo + Off-Canvas Toggle
.site-branding {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 5;
  .inner {
    display: table;
    height: 100%;
    min-height: 100%;
  }
}
.site-logo,
.offcanvas-toggle {
  display: table-cell;
  vertical-align: middle;
}

// Site logo
.site-logo {
  width: ($logo-width + 25);
  padding: 12px 0 12px 25px;
  text-decoration: none;
  > img {
    display: block;
    width: 100%;
  }
  &.logo-stuck { display: none; }
}
.navbar-ghost.navbar-stuck {
  .site-logo { display: none; }
  .site-logo.logo-stuck { display: table-cell; }
}

// Categories Toggle
.offcanvas-toggle {
  width: 74px;
  transition: color .3s;
  border-right: 1px solid $border-color;
  color: $navbar-tools-color;
  font-size: $offcanvas-toggle-icon-size;
  line-height: 1;
  cursor: pointer;
  text: {
    align: center;
    decoration: none;
  }
  &::before {
    display: inline-block;
    font-family: feather;
    content: '\e120';
  }
  &:hover { color: $nav-link-hover-color; }
  &.menu-toggle { display: none; }
}

// Main Navigation
.site-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
  ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    > li {
      > a {
        padding: 0 15px;
        transition: color .3s;
        color: $nav-link-color;
        font: {
          size: $nav-link-font-size;
          weight: $nav-link-font-weight;
        }
        text-decoration: none;
			}
      &:hover > a { color: $nav-link-hover-color; }
      &.active > a { color: $nav-link-active-color; }
		}
	}
  > ul {
    display: table;
    height: 100%;
    min-height: 100%;
    > li {
      display: table-cell;
      position: relative;
      vertical-align: middle;
      > a {
        display: table;
        height: 100%;
        min-height: 100%;
        border-top: 1px solid transparent;
        letter-spacing: .05em;
        text-transform: uppercase;
        > span {
          display: table-cell;
          vertical-align: middle;
				}
			}
      &.active > a {
        border-top-color: $nav-link-active-color;
        border-top-width: thick !important;
			}
		}
	}
}

// Sub Menu
.sub-menu { @extend %sub-menu; }
.site-menu ul > li:hover {
  > .sub-menu {
    display: block;
    animation: submenu-show .3s cubic-bezier(.68, -.55, .265, 1.55);
  }
  > .mega-menu {
    display: table;
    animation: megamenu-show .45s cubic-bezier(.68, -.55, .265, 1.55);
    .sub-menu {
      animation: none;
    }
  }
}

// Mega Menu
.mega-menu { @extend %mega-menu; }
.site-menu > ul > li.has-megamenu { position: static; }

// Toolbar
.toolbar {
  position: absolute;
  top: 0;
  right: 30px;
  height: 100%;
  z-index: 5;
  .inner {
    display: table;
    height: 100%;
    min-height: 100%;
	}

  // Tools
  .tools {
    display: table-cell;
    vertical-align: middle;
	}
  .search, .account, .cart {
    display: inline-block;
    position: relative;
    width: $navbar-tools-size;
    height: $navbar-tools-size;
    margin-left: 6px;
    transition: background-color .35s;
    border: 2px solid $border-color;
    border-radius: 50%;
    color: $navbar-tools-color;
    font-size: $tools-icon-size;
    cursor: pointer;
    vertical-align: middle;
    text: {
      align: center;
      decoration: none;
    }
    > i { line-height: $navbar-tools-size - 5; }
    > a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    &:hover { background-color: $gray-lighter; }
	}
  .account, .cart {
    > a::after {
      display: block;
      position: absolute;
      top: 100%;
      width: 100%;
      height: 18px;
      margin-top: -10px;
      content: '';
    }
  }

  // Search
  .search  > i { line-height: $navbar-tools-size - 4; }

  // Cart
  .cart {
    width: auto;
    padding: 0 16px;
    border-radius: floor($navbar-tools-size / 2);
    > a { border-radius: floor($navbar-tools-size / 2); }
    > .count, > .subtotal {
      display: inline-block;
      margin-top: 2px;
      font-size: $font-size-sm;
      vertical-align: middle;
		}
    > .count { margin-left: 5px; }
    > .subtotal {
      margin-left: 11px;
      padding: 1px 0 1px 12px;
      border-left: 1px solid $border-color;
		}
    @media (max-width: $screen-xl) {
      padding: 0 14px;
      &> .subtotal { display: none; }
		}
	}
}

// Toolbar Dropdowns
.toolbar-dropdown {
  @extend %sub-menu;
  margin-top: 7px !important;
  text-align: left;
}
.toolbar .account {
  > .toolbar-dropdown {
    left: 50%;
    margin-left: -($sub-menu-width / 2);
  }
}
.toolbar .cart {
  > .toolbar-dropdown {
    right: 0;
    left: auto;
    width: 260px;
    padding: {
      right: 18px !important;
      left: 18px !important;
    }
    > .toolbar-dropdown-group {
      display: table;
      width: 100%;
      padding: {
        top: 9px;
        bottom: 9px;
      }
      border-top: 1px solid $border-color;
      &:last-child { border-top: 0; }
      > .column {
        display: table-cell;
        vertical-align: top;
        &:first-child { padding-right: 6px; }
        &:last-child { padding-left: 6px; }
      }
      .btn { margin: 0; }
    }
  }
}
.dropdown-product-item {
  display: table;
  position: relative;
  width: 100%;
  padding: 9px 0;
  border-top: 1px dashed darken($border-color, 3%);
  &:first-child { border-top: 0; }
  > .dropdown-product-thumb,
  > .dropdown-product-info {
    display: table-cell;
    vertical-align: top;
  }
  > .dropdown-product-thumb {
    width: 55px;
    border-radius: 50%;
    overflow: hidden;
    > img {
      display: block;
      width: 100%;
    }
  }
  > .dropdown-product-remove {
    display: block;
    position: absolute;
    top: 12px;
    right: 0;
    color: $brand-danger;
    font-size: $font-size-xs;
    line-height: 1;
    cursor: pointer;
  }
  > .dropdown-product-info {
    padding: {
      right: 15px;
      left: 12px;
    }
  }
  .dropdown-product-title {
    display: block;
    padding-top: 2px;
    transition: color .3s;
    color: $nav-link-color;
    font: {
      size: $nav-link-font-size;
      weight: $nav-link-font-weight;
    }
    text-decoration: none;
    &:hover { color: $nav-link-hover-color; }
  }
  .dropdown-product-details {
    color: $gray;
    font-size: $nav-link-font-size;
  }
}
.toolbar .account:hover,
.toolbar .cart:hover {
  > .toolbar-dropdown {
    display: block;
    animation: submenu-show .3s cubic-bezier(.68, -.55, .265, 1.55);
  }
}

// Navbar Ghost Light
.navbar-ghost:not(.navbar-stuck) {
  position: absolute;
  top: 40px;
  border-bottom-color: rgba($white-color, .15);
  background-color: transparent;
  .offcanvas-toggle {
    border-right-color: rgba($white-color, .15);
    color: $white-color;
    &:hover { color: $nav-link-hover-color; }
  }
  .site-menu > ul > li {
    > a { color: $white-color; }
    &:hover > a { color: $nav-link-hover-color; }
    &.active > a { color: $nav-link-active-color; }
  }
  .toolbar {
    .search, .account, .cart {
      border-color: rgba($white-color, .15);
      color: $white-color;
      &:hover { background-color: rgba($white-color, .07); }
    }
    .cart > .subtotal { border-left-color: rgba($white-color, .15); }
    .toolbar-dropdown-group { color: $body-color; }
  }
}

// Navbar (Menu) Collapse
@media (max-width: $nav-collapse) {
  .navbar { min-height: 78px; }
  .toolbar { right: 15px; }
  .offcanvas-toggle.menu-toggle { display: table-cell; }
  .site-menu,
  .offcanvas-toggle.cats-toggle,
  .toolbar .account,
  .toolbar-dropdown { display: none !important; }
  .topbar {
    padding: {
      right: 15px;
      left: 15px;
    }
  }
}
@media (max-width: $screen-sm) {
  .offcanvas-toggle { width: 56px; }
  .site-logo {
    width: ($logo-width + 16);
    padding-left: 16px;
  }
}
