<h4>
  Choose Payment Method</h4>
<hr class="padding-bottom-1x">
<form [formGroup]="formPayment">
<div class="table-responsive">
  <table class="table">
    <thead class="thead-default">
      <tr>
        <th>Payment method</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let paymentMethod of paymentMethods">
        <td class="align-middle">
         <span class="text-medium">{{paymentMethod === 'Prepayment'? 'Cash on delivery':'Credit card / Debit card/ Paypal'}}</span>
         <!-- <a href="#opening">Take me to the opening paragraph.</a> -->
        </td>
        
        <td class="align-middle">
          <!-- <label class="custom-control custom-radio">
            <input class="form-control-radio" type="radio" (change)="onChange($event)" name="paymentMethod" value="{{paymentMethod}}" formControlName="paymentMethod">
            <span class="custom-control-indicator"></span>
          </label> -->

          <div class="custom-control custom-radio">
            <input type="radio" id="{{paymentMethod}}" (change)="onChange($event)" name="paymentMethod" value="{{paymentMethod}}" formControlName="paymentMethod" class="custom-control-input">
            <label class="custom-control-label" for="{{paymentMethod}}"></label>
          </div>

        </td>
      </tr>
      <tr *ngIf="formPayment.controls.paymentMethod.value ==='Paypal'">
        <div class="container py-5 animated fadeInLeft" style="    margin-bottom: -86px;" >

          <!-- For demo purpose -->
          <!-- <div class="row mb-4">
            <div class="col-lg-8 mx-auto text-center">
              <h1 class="display-4">Bootstrap 4 credit card form</h1>
              <p class="lead mb-0">Easily build a well-structured credit card form using Bootstrap 4</p>
              <p class="lead">Snippet by <a href="https://bootstrapious.com/snippets">Bootstrapious</a></p>
            </div>
          </div> -->
          <!-- End -->
        
        
          <div class="row">
            <div class="col-lg-7 mx-auto" id="opening">
              <!-- <div class="bg-white rounded-lg shadow-sm p-5"> -->
                <!-- Credit card form tabs -->
                <ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
                  <li class="nav-item">
                    <a data-toggle="pill" href="#nav-tab-card" class="nav-link active rounded-pill">
                                        <i class="fa fa-credit-card"></i>
                                        Credit Card
                                    </a>
                  </li>
                  <li class="nav-item">
                    <a data-toggle="pill" href="#nav-tab-paypal" class="nav-link rounded-pill">
                                        <i class="fa fa-paypal"></i>
                                        Paypal
                                    </a>
                  </li>
                  <!-- <li class="nav-item">
                    <a data-toggle="pill" href="#nav-tab-bank" class="nav-link rounded-pill">
                                        <i class="fa fa-university"></i>
                                         Bank Transfer
                                     </a>
                  </li> -->
                </ul>
                <!-- End -->
        
        
                <!-- Credit card form content -->
                <div class="tab-content">
        
                  <!-- credit card info-->
                  <div id="nav-tab-card" class="tab-pane fade show active">
                    <!-- <p class="alert alert-success">Some text success or error</p> -->
                    <form role="form">
                      <div class="form-group">
                        <label for="username">Full name (on the card)</label>
                        <input type="text" name="username" placeholder="Jason Doe" required class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="cardNumber">Card number</label>
                        <div class="input-group">
                          <input type="text" name="cardNumber" placeholder="Your card number" class="form-control" required>
                          <div class="input-group-append">
                            <span class="input-group-text text-muted">
                                                        <i class="fa fa-cc-visa mx-1"></i>
                                                        <i class="fa fa-cc-amex mx-1"></i>
                                                        <i class="fa fa-cc-mastercard mx-1"></i>
                                                    </span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-8">
                          <div class="form-group">
                            <label><span class="hidden-xs">Expiration</span></label>
                            <div class="input-group">
                              <input type="number" placeholder="MM" name="" class="form-control" required>
                              <input type="number" placeholder="YY" name="" class="form-control" required>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group mb-4">
                            <label data-toggle="tooltip" title="Three-digits code on the back of your card">CVV
                                                        <i class="fa fa-question-circle"></i>
                                                    </label>
                            <input type="text" required class="form-control">
                          </div>
                        </div>
        
        
        
                      </div>
                      <!-- <button type="button" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm"> Confirm  </button> -->
                    </form>
                  </div>
                  <!-- End -->
        
                  <!-- Paypal info -->
                  <div id="nav-tab-paypal" class="tab-pane fade">
                    <p>Paypal is easiest way to pay online</p>
                    <p>
                      <button type="button" class="btn btn-primary rounded-pill"><i class="fa fa-paypal mr-2"></i> Log into my Paypal</button>
                    </p>
                    <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p> -->
                  </div>
                  <!-- End -->
        
                  <!-- bank transfer info -->
                  <!-- <div id="nav-tab-bank" class="tab-pane fade">
                    <h6>Bank account details</h6>
                    <dl>
                      <dt>Bank</dt>
                      <dd> THE WORLD BANK</dd>
                    </dl>
                    <dl>
                      <dt>Account number</dt>
                      <dd>7775877975</dd>
                    </dl>
                    <dl>
                      <dt>IBAN</dt>
                      <dd>CZ7775877975656</dd>
                    </dl>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div> -->
                  <!-- End -->
                </div>
                <!-- End -->
        
              <!-- </div> -->
            </div>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
</div>
</form>

<app-checkout-footer [buttons]="['back', 'continue']" (back)="onBack()" (continue)="onContinue()" [continueEnabled]="formPayment.valid"></app-checkout-footer>
