.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }
td{
    white-space: nowrap;
}
th{
  white-space: nowrap;
}
///modall
.text-col{
  .title{
    color: #27309c !important;
  }
  white-space: nowrap;
  margin-left: -84px;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Open Sans', 'Roboto', sans-serif;
}
.title{
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Open Sans', 'Roboto', sans-serif;
}

.navi-link{
  cursor: pointer !important;
}
.navi-link:hover {
  text-decoration: underline;
}


.wrap{
    margin: 3rem auto 0;
    width: 90%;
    max-width: 48rem;
  }
  
  
  .wrap p{
    font-size: 1.125rem;
    color: #444;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  
  .wrap a{
    color: #4687c9;
  }
  
  .wrap p.sub-title{
    font-size: 1.5rem;
    color: #222;
    margin-bottom: 1rem;
  }
  
  
  .ex-1 ul{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ddd;
    border-top: 4px solid #11B8AB;
  }
  
  .ex-6 i,
  .ex-6 .title{
    color: #949CCF;
  }
  
  .ex-6 .title{
    font-weight: 500;
  }
  
  .ex-6 .col{
    display: flex;
    width: calc(50% - 1rem);
    margin-bottom: 1.5rem;
  }
  
  .ex-6 .col p:not(.title){
    color: #888;
    font-size: 1rem;
  }
  
  .ex-6 .col:nth-child(2n - 1){
    margin-right: 2rem;
  }
  
  .ex-6 .icon-col{
    width: 12rem;
    i{
      color: #27309c;
    }
  }
  
  .ex-6 i{
    font-size: 2rem;
  }
  
  .ex-6{
    display: flex;
    flex-wrap: wrap;
  }


  
  ///loding 


  .loading-circle {
    margin: 100px auto;
    width: 4rem;
    height: 4rem;
    position: relative;
      .circle-segment {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
        &:before {
          content: '';
          display: block;
          margin: 0 auto;
          width: 17.3%;
          height: 10%;
          background-color: #006FB4;
          border-radius: 0.25rem;
          -webkit-animation: segmentFadeDelay 1.2s infinite ease-in-out both;
                  animation: segmentFadeDelay 1.2s infinite ease-in-out both;
        }
        &.segment-2 {
          -webkit-transform: rotate(30deg);
              -ms-transform: rotate(30deg);
                  transform: rotate(30deg);
          &:before {
            -webkit-animation-delay: -1.1s;
                    animation-delay: -1.1s; 
          }
        }
        &.segment-3 {
          -webkit-transform: rotate(60deg);
              -ms-transform: rotate(60deg);
                  transform: rotate(60deg);
          &:before {
            -webkit-animation-delay: -1s;
                    animation-delay: -1s; 
          }        
        }
        &.segment-4 {
          -webkit-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
                  transform: rotate(90deg);
          &:before {
            -webkit-animation-delay: -0.9s;
                    animation-delay: -0.9s; 
          }        
        }
        &.segment-5 {
          -webkit-transform: rotate(120deg);
              -ms-transform: rotate(120deg);
                  transform: rotate(120deg);
          &:before {
            -webkit-animation-delay: -0.8s;
                    animation-delay: -0.8s; 
          }         
        }
        &.segment-6 {
          -webkit-transform: rotate(150deg);
              -ms-transform: rotate(150deg);
                  transform: rotate(150deg);
          &:before {
            -webkit-animation-delay: -0.7s;
                    animation-delay: -0.7s; 
          }        
        }
        &.segment-7 {
          -webkit-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
                  transform: rotate(180deg);
          &:before {
            -webkit-animation-delay: -0.6s;
                    animation-delay: -0.6s; 
          }        
        }
        &.segment-8 {
          -webkit-transform: rotate(210deg);
              -ms-transform: rotate(210deg);
                  transform: rotate(210deg);
          &:before {
            -webkit-animation-delay: -0.5s;
                    animation-delay: -0.5s; 
          }        
        }
        &.segment-9 {
          -webkit-transform: rotate(240deg);
              -ms-transform: rotate(240deg);
                  transform: rotate(240deg);
          &:before {
            -webkit-animation-delay: -0.4s;
                    animation-delay: -0.4s;
          }        
        }
        &.segment-10 {
          -webkit-transform: rotate(270deg);
              -ms-transform: rotate(270deg);
                  transform: rotate(270deg);
          &:before {
            -webkit-animation-delay: -0.3s;
                    animation-delay: -0.3s;
          }        
        }
        &.segment-11 {
          -webkit-transform: rotate(300deg);
              -ms-transform: rotate(300deg);
                  transform: rotate(300deg); 
          &:before {
            -webkit-animation-delay: -0.2s;
                    animation-delay: -0.2s;
          }        
        }
        &.segment-12 {
          -webkit-transform: rotate(330deg);
              -ms-transform: rotate(330deg);
                  transform: rotate(330deg); 
          &:before {
            -webkit-animation-delay: -0.1s;
                    animation-delay: -0.1s;
          }        
        }      
      }
  }
  
  
  @-webkit-keyframes segmentFadeDelay {
    0%, 2%, 100% { opacity: 0; }
    3% { opacity: 1; }
  }
  
  @keyframes segmentFadeDelay {
    0%, 2%, 100% { opacity: 0; }
    3% { opacity: 1; } 
  }

  ///error message
  .error-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
  }
  .error-msg {
    color: #D8000C;
    background-color: #FFBABA;
  }
  ///warning message
  .warning-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
  }
  .warning-msg {
    color: rgb(245, 116, 25);
    background-color: #ffd378;
  }






  ///tag
  
.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson; 
}




//////////product modal

$color-below-image: #ccc;
@mixin star-icon(){
  background-image:url(https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-20.png);
}
@mixin transforming($value){
	-webkit-transform: $value;
	-moz-transform: $value;
	-ms-transform: $value;
	-o-transform: $value;
	transform: $value;
}
@mixin transition-transform($delay){
  -webkit-transition: transform $delay;
	-moz-transition: transform $delay;
	-ms-transition: transform $delay;
	-o-transition: transform $delay;
	transition: transform $delay;
}

.wrapper{
  margin:auto;
}
.product{
  position:relative;
  width:640px;
  background-color:#fff;
  margin:auto;
  overflow:hidden;
  margin-bottom: 20px;
  > div{
    position:relative;
    z-index:10;
  }
  .title{
    background-color:#333;
    color:#fff;
    padding:10px;
    font-size:18px;
    z-index:20;
  }
  .text{
    text-align:left;
    width:49.5%;
    display:inline-block;
    vertical-align:middle;
    color:#333;
    font-weight: 300;
    padding: 20px 0;
    .code{
      padding: 0 20px;
      font-size:11px;
      font-weight: 700;
      margin-bottom: 17px;
    }
    .description{
      padding: 0 20px;
      margin-bottom: 10px;
      color: #757575;
    }
    .review{
      margin-bottom: 23px;
      font-size:12px;
      padding:0 20px;
      > span{
        vertical-align:middle;
      }
      > span.star-icon{
        width:20px;
        height:20px;
        display:inline-block;
       }
      .star-icon{
        @include star-icon();
      }
      .star-disable{
        opacity:0.5;
      }
    }
    .price{
      padding: 0 20px;
      font-size: 2.5em;
      margin-bottom:10px;
    }
    .shop-actions{
      padding: 0 20px;
      margin-top: 33px;
      button{
        width: 100%;
        vertical-align:middle;
        background-color: #ffdd00;
        border:none;
        box-shadow: 0 5px 5px -2px rgba(0,0,0,0.5);
        padding:5px;
        font-size:18px;
        font-family:"Oswald"
      }
    }
  }
  .preview{
    width:49.5%;
    display:inline-block;
    vertical-align:middle;
    height:240px;
  }
  .svg{
    position:absolute;
    width:100%;
    left:0;
    top:0;
    height:100%;
    z-index:0;
    .circle{
      fill: $color-below-image;
      transform-origin:50% 50%;
      @include transforming(scale(0.8));
      @include transition-transform(300ms);
    }
    .image{
      transform-origin:50% 50%;
      @include transforming(rotate(0));
      @include transition-transform(300ms);
    }
  }
  &:hover{
    .preview{
      .image{
        @include transforming(rotate(20deg));
      }
      .circle{
        @include transforming(scale(1));
      }
    }
  }
}
///input search

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}

//text-product

.text-product{
  cursor: pointer !important;
}
.text-product:hover {
  text-decoration: underline;
}