<!-- Modal -->
<ngx-smart-modal #myModalProducts identifier="myModalProducts">
  <div class="wrapper">
  <ng-container *ngFor="let product of currentOrder?.products">
    <div class="product">
      <div class="title">
      {{currentOrder?.order_id}}
      </div>
      
      <div class="text">
        <div class="code"> Quantity  {{product?.qty}}</div>
        <div class="description">
          {{product?.name}}
        </div>
        <div class="review">
          <span class="star-icon"></span>
          <span class="star-icon"></span>
          <span class="star-icon"></span>
          <span class="star-icon"></span>
          <span class="star-icon"></span>
          <span class="star-reviews">25 reviews</span>
        </div>
        <div class="price">
          {{product?.price}}
        </div>
        <div class="shop-actions">
          <button>            <i class="fa fa-heart" aria-hidden="true"></i> Rate</button>
        </div>
      </div>
      
      <div class="preview">
        <svg class="svg" viewBox="0 0 200 200" xmlns="">
          <!-- <circle class="circle" cx="100" cy="100" r="100"/> -->
          <image class="image" xlink:href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRIigSjmnb-N185Bku00uJNk_cJpKrD6vmyYECWkCny1G--dXUk&usqp=CAU" x="0" y="0" width="200px" height="180px"/>
        </svg>
      </div>
      
  
    </div>
  </ng-container>
  
    
    
    
  </div>
  <button (click)="myModalProducts.close()">Close</button>
</ngx-smart-modal>


<ngx-smart-modal #myModal identifier="myModal">
  <h1><span class="badge badge-primary" style="background-color: #0da9ef;border-top-right-radius: 20px;border-bottom-right-radius: 20px;">Order Details</span></h1>
  <div class="wrap">
    <div class="lud-6 lud">
      <p class="sub-title"></p>
      
      <!-- <p>If your text is aligned properly (e.g. on the same line as the icons, or images), your text will be eaiser to read for the user.</p> -->
      
      <div class="example ex-6">
        <div class="col">
          <div class="icon-col">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
          </div>
          <div class="text-col">
            <p class="title">Date Purchased</p>
            <p>{{currentOrder?.created_on_date | date: 'yyyy-MM-dd'}}</p>
          </div>
        </div>
        <div class="col">
          <div class="icon-col">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>
          <div class="text-col">
            <p class="title">Last Update</p>
            <p>{{currentOrder?.updatedAt | date: 'yyyy-MM-dd'}}</p>
          </div>
        </div>
        <div class="col">
          <div class="icon-col">
            <i class="fa fa-cubes" aria-hidden="true"></i>
          </div>
          <div class="text-col">
            <p class="title">Products</p>
            <p>{{currentOrder?.products.length > 1 ? currentOrder?.products.length +' Products' : currentOrder?.products.length +' Product'}}</p>
          </div>
        </div>
        <div class="col">
          <div class="icon-col">
            <i class="fa fa-usd" aria-hidden="true"></i>
          </div>
          <div class="text-col">
            <p class="title">Payment Type</p>
            <p>{{currentOrder?.payment_type=== 'CC'? 'Credit Card' : currentOrder?.payment_type=== 'DC'? 'Debit Card':'Cash On Delivery'}}</p>
          </div>
        </div>
        <div class="col">
          <div class="icon-col">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <div class="text-col">
            <p class="title">Contact Number</p>
            <p>{{currentOrder?.contact_number}}</p>
          </div>
        </div>
        <div class="col">
          <div class="icon-col">
            <i class="fa fa-truck" aria-hidden="true"></i>
          </div>
          <div class="text-col">
            <p class="title">Delivery Cost</p>
            <p>{{currentOrder?.delivery_cost}}</p>
          </div>
        </div>
        <div class="col">
          <div class="icon-col">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </div>
          <div class="text-col">
            <p class="title">Delivery Date</p>
            <p>{{currentOrder?.delivery_date  | date: 'yyyy-MM-dd'}}</p>
          </div>
        </div>
        <div class="col">
          <div class="icon-col">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <div class="text-col">
            <p class="title">Delivery Address</p>
            <p>{{currentOrder?.order_address}}</p>
          </div>
        </div>
        <div class="col">
          <div class="icon-col">
            <i class="fa fa-address-card-o" aria-hidden="true"></i>
          </div>
          <div class="text-col">
            <p class="title">Recipient Name</p>
            <p>{{currentOrder?.recipient_name}}</p>
          </div>
        </div>
        <div class="col">
          <div class="icon-col">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          </div>
          <div class="text-col">
            <p class="title">Created User</p>
            <p>{{(currentOrder?.user_id?.first_name && currentOrder?.user_id?.last_name) ? currentOrder?.user_id?.first_name + ' '+ currentOrder?.user_id?.last_name: currentOrder?.user_id?.first_name}}</p>
          </div>
        </div>
        <div class="col">
          <div class="icon-col">
            <i class="fa fa-money" aria-hidden="true"></i>
          </div>
          <div class="text-col">
            <p class="title">Total Price</p>
            <p style="text-decoration: underline double"> {{currentOrder?.total_price}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button (click)="myModal.close()">Close</button>
</ngx-smart-modal> 
<div class="padding-top-2x mt-2 hidden-lg-up">
</div>
<div class="table-responsive" style="width: fit-content;">
  <!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <input style="    margin-bottom: 2px;" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" type="search" placeholder="Search">
      </div>
    </div>
  </div> -->

  <table class="table table-hover margin-bottom-none">
    <thead>
      <tr>
        <th>Order #</th>
        <th>Date Purchased</th>
        <th>Products</th>
        <th>Status</th>
        <th>Total</th>
        <th>Payment Type</th>
        <th>Payment Status</th>
      </tr>
    </thead>
    <tbody class="overflow-auto">
      <div style="width: 97%;position: absolute;" *ngIf="isError" class="error-msg">
        <i class="fa fa-exclamation-triangle"></i>
        Oops..! Error loading Orders..
      </div>
      <div style="width: 97%;position: absolute;" *ngIf="!isError && orders?.length <=0 && isNotLoading" class="warning-msg">
        <i class="fa fa-exclamation-triangle"></i>
        Cannot found any orders.
      </div>
      <div style="position: absolute;margin-left: 353px;" class="loading-circle" *ngIf="(!orders) && !isError">
        <div class="circle-segment segment-1"></div>
        <div class="circle-segment segment-2"></div>
        <div class="circle-segment segment-3"></div>
        <div class="circle-segment segment-4"></div>
        <div class="circle-segment segment-5"></div>
        <div class="circle-segment segment-6"></div>
        <div class="circle-segment segment-7"></div>
        <div class="circle-segment segment-8"></div> 
        <div class="circle-segment segment-9"></div>
        <div class="circle-segment segment-10"></div>
        <div class="circle-segment segment-11"></div>
        <div class="circle-segment segment-12"></div>   
      </div>
      <ng-container *ngIf="orders?.length > 0 && !isError">
        <tr *ngFor="let order of orders | paginate: { itemsPerPage: 10, currentPage: p }">
          <td>
            <!-- <button >Open myModal</button> -->
            <a class="text-medium navi-link" (click)="ngxSmartModalService.getModal('myModal').open();setCurrentOrder(order)" data-toggle="modal" data-target="#orderDetails">{{order.order_id}}</a>
          </td>
          <td>
            <span class="text-medium">{{order.created_on_date | date: 'yyyy-MM-dd'}}</span>
        </td>
          <td>
            <span (click)="ngxSmartModalService.getModal('myModalProducts').open();setCurrentOrder(order)" class="text-info text-product">{{order?.products.length > 1 ? order?.products.length +' Products' : order?.products.length +' Product'}}</span>
          </td>
          <td>
            <span class="text-info">{{order.status || 'In Progress'}}</span>
          </td>
          <td>
            <span class="text-medium">{{order.total_price | currency}}</span>
          </td>
          <td>
            <span class="text-medium">{{order.payment_type=== 'CC'? 'Credit Card' : order.payment_type=== 'DC'? 'Debit Card':'Cash On Delivery'}}</span>
          </td>
          <td>
            <button  *ngIf="(order.payment_type === 'CC' || order.payment_type === 'DC' )? true : false" type="button" class="btn btn-outline-success btn-sm"><i class="fa fa-thumbs-up"></i> Paid</button>
            <!-- <button *ngIf="(order.payment_type === 'CC' || order.payment_type === 'DC' )? true : false" type="button" class="btn btn-labeled btn-success">
              <span class="btn-label"><i class="fa fa-thumbs-up"></i></span>
              Paid
            </button> -->
            <button  *ngIf="(order.payment_type === 'CC' || order.payment_type === 'DC' )? false : true" type="button" class="btn btn-outline-warning btn-sm"><i class="fa fa-thumbs-down"></i> Not Completed</button>
            <!-- <button *ngIf="(order.payment_type === 'CC' || order.payment_type === 'DC' )? false : true" type="button" class="btn btn-labeled btn-warning">
              <span class="btn-label"><i class="fa fa-thumbs-down"></i></span>
             Not Completed
            </button> -->
          </td>
        </tr>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </ng-container>
      
    </tbody>
  </table>
</div>
<hr>
