  <app-page-title title="Login / Register Account" [children]="[{title: 'Account', link: '/account'}, {title: 'Login / Register'}]"></app-page-title>


  <div class="container padding-bottom-3x mb-2" s style="background: url(https://www.downtownsa.co.za/img/homebackground.jpg);
  background-size: cover;">
    <div class="row" >
      <div *ngIf="!signUp" class="col-md-6 offset-sm-1 animated fadeInLeft" style="    margin-top: 113px;
      margin-bottom: 26px;max-width: 39% !important;">
        <form (keydown)="keyDownFunction($event)" class="login-box" style="    background: #000000bf;" [formGroup]="loginForm" (ngSubmit)="onLogin()">

          <h3 class="margin-bottom-1x" style="color: white;">Login</h3>
          <div *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched && loginForm.get('email').dirty" class="form-control-feedback">
            Be sure to enter a valid, existing Email.
          </div>
          <div class="form-group input-group" [ngClass]="{'has-danger': !loginForm.get('email').valid && loginForm.get('email').touched  && loginForm.get('email').dirty}">
         
            <input class="form-control" formControlName="email" type="email" placeholder="Email" required="">
            <span class="input-group-addon">
              <i class="icon-mail"></i>
            </span>
            
          </div>
          <div *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched && loginForm.get('password').dirty" class="form-control-feedback">
            The entered password seems to be wrong..
          </div>
          <div class="form-group input-group" [ngClass]="{'has-danger': !loginForm.get('password').valid && loginForm.get('password').touched && loginForm.get('password').dirty}">
            
            <input class="form-control" formControlName="password" type="password" placeholder="Password" required="">
            <span class="input-group-addon">
              <i class="icon-lock"></i>
            </span>
          </div>
    <div class="container">
      <div class="row align-items-start">
        <a (click)="forgotPassword()" style="color: white;"><U>Forgot password?</U> </a>  
      </div>
    </div>

          
          <div class="container">
            <div class="row justify-content-center">
              <div class="col align-self-center">
                <a (click)="onSignUp()" style="color: white;">Sign Up</a>  
              </div>
             
              <div class="col align-self-end">
            <button [disabled]="!loginForm.valid"class="btn btn-primary margin-bottom-none" type="submit">Login</button>
                
              </div>
            </div>
          </div>

         
        </form>
        <div class="row">
          <div class="col">
            <button style="    width: -webkit-fill-available !important;" class="loginBtn loginBtn--facebook" (click)="socialSignIn('facebook')">Sign in with Facebook</button>
          </div>
          <div class="col">
            <button style="    width: -webkit-fill-available !important;" class="loginBtn loginBtn--google" (click)="socialSignIn('google')">Sign in with Google</button>
          </div>
        </div>
      </div>

      <div class="col-md-6 offset-sm-1 animated fadeInLeft" *ngIf="signUp" style="margin-top: 113px;
      margin-bottom: 26px;max-width: 39% !important;">
        <div class="padding-top-3x hidden-md-up"></div>
        <h3 class="margin-bottom-1x" style="color: white !important;">No Account? Register</h3>
        <p style="color: darkgray !important;">Registration takes less than a minute but gives you full control over your orders.</p>
        <form style="    background: #000000bf;" [formGroup]="registerForm" class="row login-box" (ngSubmit)="onRegister()">

         

          <div class="col-sm-12">
            <div class="form-group" [ngClass]="{'has-danger': !registerForm.get('email').valid && registerForm.get('email').touched}">
              <label for="reg-email" style="color: white;" >E-mail Address</label>
              <input class="form-control" formControlName="email" type="email" id="reg-email" required>
            </div>
          </div>

        

            <div class="col-sm-6">
              <div class="form-group" [ngClass]="{'has-danger': !registerForm.get('password').valid && registerForm.get('password').touched}">
                <label for="reg-pass" style="color: white;">Password</label>
                <input class="form-control" formControlName="password" type="password" id="reg-pass" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" [ngClass]="{'has-danger': !registerForm.get('confirmPassword').valid && registerForm.get('confirmPassword').touched}">
                <label for="reg-pass-confirm" style="color: white;">Confirm Password</label>
                <input class="form-control" formControlName="confirmPassword" type="password" id="reg-pass-confirm" required>
              </div>
            </div>

          <div class="col-12 text-center text-sm-right">

            <div class="form-group has-danger">
              <div class="form-control-feedback">
                {{ registerErrors }}
              </div>
            </div>

            
           
       
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col align-self-center">
            <a (click)="onSignIn()" style="color: white;">Sign In</a>  
          </div>
          <div class="col align-self-end">
            <button style="color: #fff !important;
            background-color: #0534ff !important;
            border-color: #0041ff !important;" [disabled]="!registerForm.valid" class="btn btn-primary margin-bottom-none" type="submit">Register</button>
          </div>
        </div>
      </div>
        </form>
      </div>
    </div>
  </div>
