<div class="product-card" [ngClass]="{'product-list': displayMode === 'list'}">

  <div *ngIf="product.reduction" class="product-badge text-danger">{{ product.reduction }}% Off</div>

  <div class="product-rating">
    <app-rating-stars [rating]="product.currentRating"></app-rating-stars>
  </div>

  <a class="product-thumb" [ngClass]="{'loading': imageLoading}" routerLink="/products/{{product.id}}">
    <img [hidden]="imageLoading" (load)="onImageLoad()" src="{{product.image_urls[0]}}" alt="{{product.name}}"/>
  </a>
  <div class="product-info">
    <h3 class="product-title">
      <a routerLink="/products/{{product.id}}">{{product.name}}</a>
    </h3>
    <h4 class="product-price"><app-price [product]="product"></app-price></h4>
    <p *ngIf="displayMode === 'list'" class="hidden-xs-down">{{product.description}}</p>
    <div class="product-buttons">
      <!-- <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
        <i class="icon-heart"></i>
      </button> -->
      <button *ngIf="product.stock_count && product.stock_count>0" class="btn btn-outline-primary btn-sm" (click)="onAddToCart()">Add to Cart</button>
      <button *ngIf="(!product.stock_count) || (product.stock_count<=0)" [disabled]="true" class="btn btn-outline-danger btn-sm" ><s>Sold Out</s></button>

      <button *ngIf="user && user.role && user.role ==='admin'" class="btn btn-primary btn-sm" routerLink="/admin/edit/{{product.id}}">
        Edit
      </button>
    </div>
  </div>
</div>
