<h4>Review Your Order</h4>
<hr class="padding-bottom-1x">
<div class="table-responsive shopping-cart">
  <table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th class="text-center">Subtotal</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; let i = index">
        <td>
          <div class="product-item">
            <a class="product-thumb" routerLink="/products/{{item.product.id}}">
              <img [src]="item.product.image_urls[0]" alt="{{item.product.name}}">
            </a>
            <div class="product-info">
              <h4 class="product-title">
                <a routerLink="/products/{{item.product.id}}">{{item.product.name}}
                  <small>x {{item.amount}}</small>
                </a>
              </h4>
            </div>
          </div>
        </td>
        <td class="text-center text-lg text-medium">{{ (item.product.price * item.amount) | currency }}</td>
        <td class="text-center">
          <a class="btn btn-outline-primary btn-sm" routerLink="/cart">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="shopping-cart-footer">
  <div class="column"></div>
  <div class="column text-lg">Subtotal:
    <span class="text-medium">{{ total | currency }}</span>
  </div>
</div>
<div class="row padding-top-1x mt-3">
  <div class="col-sm-6">
    <h5>Shipping to:</h5>
    <ul class="list-unstyled">
      <li>
        <span class="text-muted">Client:</span>{{customer.firstname}} {{customer.lastname}}</li>
      <li>
        <span class="text-muted">Address:</span>{{customer.address1}} {{customer.address2}}</li>
      <li>
        <span class="text-muted">Phone:</span>{{customer.phone}}</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <h5>Payment method:</h5>
    <ul class="list-unstyled">
      <li>
        <span class="text-muted">{{ paymentMethod }}</span></li>
    </ul>
  </div>
</div>

<app-checkout-footer [buttons]="['back', 'completeOrder']" (back)="onBack()" (completeOrder)="onCompleteOrder()"></app-checkout-footer>
