// Progress bars
@import '../../../scss/helpers/_variables.scss';

//
// Progress Bars
// --------------------------------------------------

.progress {
  height: auto;
  border-radius: ceil($progress-height / 2);
  background-color: darken($gray-lighter, 2%);
  font: {
    size: $font-size-xs;
    weight: 500;
  }
  line-height: $progress-height;
}
.progress-bar {
  height: $progress-height;
  background-color: $progress-bg;
}







// ======================================
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
h2 {
  text-align: center;
}

table caption {
	padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 1px solid #ddd;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}
/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

// body {
//   background: #74ebd5;
//   background: -webkit-linear-gradient(to right, #74ebd5, #ACB6E5);
//   background: linear-gradient(to right, #74ebd5, #ACB6E5);
//   min-height: 100vh;

// }




ul{
  background-image: linear-gradient(to bottom ,#235c82 0,#021b2d 100%);
 li{
 a{
  color:  white;
 }
 a:hover{
  color:  black;
 }
 }
}
.badge-secondary {
  color: #fff;
  background-color: #6c757d;
  margin: 2px;
}


////////////////////////////@extend




input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}

/////////////////button delete


///edit icon
 td:hover{
  cursor : pointer;
 }

 //radio

 // colors
$blue: #269bff;
$bg-light: #f2f2f2;
$bg-med: #eee;

// the magic
div.checkbox.switcher, div.radio.switcher {
  label {padding: 0;
    * {vertical-align: middle;}
    input {display: none;
      &+span {position: relative; display: inline-block; margin-right: 10px; width: 56px; height: 28px; background: $bg-light; border: 1px solid $bg-med; border-radius: 50px; transition: all 0.3s ease-in-out;
        small {position: absolute; display: block; width: 50%; height: 100%; background: #fff; border-radius: 50%; transition: all 0.3s ease-in-out; left: 0;}
      }
      &:checked+span {background: $blue; border-color: $blue;
        small {left: 50%;}
      }
    }
  }
}

//blink css
@-webkit-keyframes blinker {
	from {opacity: 1.0;}
	to {opacity: 0.0;}
  }
  .blink{
	  text-decoration: blink;
	  -webkit-animation-name: blinker;
	  -webkit-animation-duration: 0.6s;
	  -webkit-animation-iteration-count:infinite;
	  -webkit-animation-timing-function:ease-in-out;
	  -webkit-animation-direction: alternate;
  }

  //button curcle
  
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
	line-height: 1.32857;
}
.btn-outline-primary {
    border-width: 2px !important;
    color: #007bff;
    border-color: #007bff;
}

//overflow table
.table-overflow{
  overflow: scroll;
}