<app-page-title title="All Products/Orders" [children]="[{title: 'All Products/Orders'}]"></app-page-title>
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active': (activeTab===0)}" (click)="changeTabIndex(0)"><i
        class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'disabled': isEditDisable}" [ngClass]="{'active': (activeTab===1)}"
      (click)="changeTabIndex(1)"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active': (activeTab===2)}" (click)="changeTabIndex(2)"><i
        class="fa fa-search fa-2x" aria-hidden="true"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active': (activeTab===3)}" (click)="changeTabIndex(3)"><i class="fa fa-users fa-2x"
        aria-hidden="true"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active': (activeTab===4)}" (click)="changeTabIndex(4)"><i class="fa fa-shopping-bag fa-2x" 
        aria-hidden="true"></i></a>
  </li>
</ul>
<div class="container">
  <div class="row mb-5">
    <div class="container">
      <div class="row align-items-center mb1 mt-3">
        <div class="col-md-6" *ngIf="activeTab===4" style="    margin-bottom: -45px !important; ">
          <h2 class="margin-bottom-1x mt-1">All Orders</h2>
        </div>
        <div class="col-md-6" *ngIf="activeTab===3">
          <h2 class="margin-bottom-1x">All Users</h2>
        </div>
        <div class="col-md-6" *ngIf="activeTab===0">
          <h2 class="margin-bottom-1x">Add Product</h2>
        </div>
        <div class="col-md-6" *ngIf="activeTab===1">
          <h2 class="margin-bottom-1x">Edit Product</h2>
        </div>
        <div class="col-md-6" *ngIf="activeTab===2">
          <h2 class="margin-bottom-1x mt-1">Search Product</h2>
        </div>
        <div class="col-md-6" *ngIf="activeTab===2">
          <!-- <form method="post">
            <input [(ngModel)]="searchText"[ngModelOptions]="{standalone: true}"  type="text" class="textbox" placeholder="Search">
            <input title="Search" class="button">
          </form> -->
          <!-- <form> -->
          <input [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" type="search" placeholder="Search">
          <!-- </form> -->

          <!-- <input matInput placeholder="Search" type="text"> -->
          <!-- <button  type="button" class="btn btn-outline-primary btn-sm"> <span   data-toggle="modal" data-target="#exampleModal" class="badge badge-light">View Products<i class="fa fa-search" aria-hidden="true"> </i></span></button> -->
        </div>
      </div>
    </div>
    <br>

    <div class="col-lg-8" *ngIf="activeTab===0 ||  activeTab===1">



      <!-- Button trigger modal -->


      <form #f="ngForm" [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label class="col-2 col-form-label" for="name">Product Name</label>
          <div class="col-10">
            <input class="form-control form-control-square form-control-sm" formControlName="name" type="text" id="name"
              value="">
            <div *ngIf="!productForm.get('name').valid && productForm.get('name').touched"
              class="form-control-feedback">
              Shucks, enter a name for your product.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="id">Id</label>
          <div class="col-10">
            <input class="form-control form-control-square form-control-sm" formControlName="id" type="number" id="id"
              value="0">
            <div *ngIf="!productForm.get('id').valid && productForm.get('id').touched" class="form-control-feedback">
              Shucks, enter a number as id for your product.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="date-input">Creation Date</label>
          <div class="col-10">
            <input class="form-control" type="date" id="date-input" formControlName="date" value="">
            <div *ngIf="!productForm.get('date').valid && productForm.get('date').touched"
              class="form-control-feedback">
              Shucks, enter a date for your product.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="categories">Categories (commma seperated)</label>
          <div class="col-10">
            <input class="form-control form-control-square form-control-sm" formControlName="categories" type="text"
              id="categories" value="">
            <div *ngIf="!productForm.get('categories').valid && productForm.get('categories').touched"
              class="form-control-feedback">
              Shucks, enter at least one category for your product.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="description">Product description</label>
          <div class="col-10">
            <angular-editor formControlName="description" [config]="editorConfig" id="description"></angular-editor>
            <!-- <textarea class="form-control form-control-square form-control-sm" formControlName="description" id="description" rows="5">
            </textarea> -->
            <div *ngIf="!productForm.get('description').valid && productForm.get('description').touched"
              class="form-control-feedback">
              Shucks, enter a description for your product.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="photos">Add Image</label>
          <div class="col-10">
            <div class="container">
              <input type="file" (change)="fileChoose($event)" name="photo" ng2FileSelect [uploader]="uploader" />
              <button [disabled]="isUploadDisable" type="button" class="btn btn-success btn-sm"
                (click)="uploader.uploadAll()">
                Upload This Image
              </button>
            </div>
            <lib-angular-collapse>
              <div header> <button type="button" class="btn btn-primary">
                  Images : <span class="badge badge-light">{{product.image_urls.length}}</span>
                </button></div>
              <div body>
                <ng-container *ngFor="let item of product.image_urls; let i=index">
                  <span class="badge badge-info"> <span style="color: black">Image {{i+1}} &nbsp;</span> <span
                      (click)="showImage(item)" class="badge badge-light"><i
                        style="    cursor: pointer;color: rgb(23, 133, 13);" class="fa fa-picture-o fa-4x"
                        aria-hidden="true"></i></span> &nbsp;<span (click)="fileRemoveAction(item);"
                      class="badge badge-light"><i style="    cursor: pointer;color: rgb(220, 53, 69)"
                        class="fa fa-times-circle fa-4x" aria-hidden="true"></i></span></span>&nbsp;
                </ng-container>

              </div>
            </lib-angular-collapse>
            <p *ngIf="warning" class="text-danger"> <B>Please save the changes after you done </B> </p>

          </div>
        </div>


        <div class="form-group row">
          <label class="col-2 col-form-label" for="actual_price">Actual Price</label>
          <div class="col-10">
            <input class="form-control form-control-square form-control-sm" formControlName="actual_price" type="number"
              id="actual_price" value="">
            <div *ngIf="!productForm.get('actual_price').valid && productForm.get('actual_price').touched"
              class="form-control-feedback">
              Shucks, enter a price for your product.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="original_price">Original Price</label>
          <div class="col-10">
            <input class="form-control form-control-square form-control-sm" formControlName="original_price"
              type="number" id="original_price" value="0">
            <div *ngIf="!productForm.get('original_price').valid && productForm.get('original_price').touched"
              class="form-control-feedback">
              Shucks, enter a base price for your product.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label" for="stock_count">Stock Count</label>
          <div class="col-10">
            <input class="form-control form-control-square form-control-sm" formControlName="stock_count"
              type="number" id="stock_count" value="0">
            <div *ngIf="!productForm.get('stock_count').valid && productForm.get('stock_count').touched"
              class="form-control-feedback">
              Shucks, enter the stock count of your product.
            </div>
          </div>
        </div>

        <div *ngIf="fileUploadService.percentage$ | async as pct" class="progress margin-bottom-1x">
          <div class="progress-bar" role="progressbar" [style.width.%]="pct" aria-valuenow="pct | number: '1.0-0'"
            aria-valuemin="0" aria-valuemax="100">{{pct | number:'1.0-0'}}%</div>
        </div>

        <div class="row mb-5">
          <div class="col text-right">
            <button [disabled]="(mode === 'add')" class="btn btn-danger" type="button" (click)="onDelete()">Delete
              Product</button>
            <button *ngIf="activeTab===0" [disabled]="(!productForm.valid)" class="btn btn-primary" type="submit">Save Changes</button>
            <button *ngIf="activeTab===1" (click)="onUpdate()" class="btn btn-primary">Update Changes</button>
          </div>
        </div>

      </form>

    </div>













    <div class="container">
      <div class="row" *ngIf="activeTab===2">
        <form [formGroup]="productReportForm"  (ngSubmit)="createReport()">
          <div class="form-group row">
            <label class="col-2 col-form-label" for="date-input-report_start">Start Date</label>
            <div class="col-10">
              <input class="form-control" type="date" id="date-input-report_start" formControlName="start_date" value="">
              <div *ngIf="!productReportForm.get('start_date').valid && productReportForm.get('start_date').touched"
                class="form-control-feedback">
                Shucks, enter a date for your product.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label" for="date-input-report_end">End Date</label>
            <div class="col-10">
              <input class="form-control" type="date" id="date-input-report_end" formControlName="end_date" value="">
              <div *ngIf="!productReportForm.get('end_date').valid && productReportForm.get('end_date').touched"
                class="form-control-feedback">
                Shucks, enter a date for your product.
              </div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit" >Create Report</button>
        </form>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="table-responsive">
                <table
                  summary="This table shows how to create responsive tables using Bootstrap's default functionality"
                  class="table table-bordered table-hover">
                  <!-- <caption class="text-center">An example of a responsive table based on <a href="https://getbootstrap.com/css/#tables-responsive" target="_blank">Bootstrap</a>:</caption> -->
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Stock</th>
                      <th>Creation Date</th>
                      <th>Categories</th>
                      <th>Actual Price</th>
                      <th>Original Price</th>

                      <th>New Arrivals</th>
                      <th>On Sale</th>
                      <th>Best Rated</th>
                      <th>Featured</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let product of allProducts | filter : searchText">
                      <tr  [ngStyle]="{'background-color':getColor(product.stock_count)}">
                        <td>{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.stock_count}}</td>
                        <td>{{product.date}}</td>

                        <td>
                          <h6><span style="margin-right: 2px;" *ngFor="let category of product.categories.split(',')"
                              class="badge badge-warning">{{category}} </span></h6>
                        </td>
                        <td>{{product.actual_price}}</td>
                        <td>{{product.original_price}}</td>

                        <td>
                          <div class="container">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input"
                                (change)="updateHighlight($event,'is_new_arrivals',product)"
                                id="{{ 'is_new_arrivals' +product._id }}" [checked]="product.is_new_arrivals">
                              <label class="custom-control-label" for="{{  'is_new_arrivals' +product._id }}"></label>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="container">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="{{ 'is_on_sale' +product._id }}"
                                (change)="updateHighlight($event,'is_on_sale',product)" [checked]="product.is_on_sale">
                              <label class="custom-control-label" for="{{  'is_on_sale' +product._id }}"></label>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="container">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input"
                                id="{{ 'is_best_rated' +product._id }}"
                                (change)="updateHighlight($event,'is_best_rated',product)"
                                [checked]="product.is_best_rated">
                              <label class="custom-control-label" for="{{  'is_best_rated' +product._id }}"></label>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="container">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="{{'is_featured' +product._id }}"
                                (change)="updateHighlight($event,'is_featured',product)"
                                [checked]="product.is_featured">
                              <label class="custom-control-label" for="{{  'is_featured' +product._id }}"></label>
                            </div>
                          </div>
                        </td>
                        <td>
                          <button (click)="deleteItem(product)" type="button" class="btn btn-danger btn-sm"><i
                              class="fa fa-trash"></i> Remove</button>
                          <button (click)="editItem(product)" type="button" class="btn btn-warning btn-sm"><i
                              class="fa fa-pencil"></i> Edit &nbsp;&nbsp;&nbsp;&nbsp;</button>

                        </td>
                      </tr>
                    </ng-container>

                  </tbody>
                  <tfoot>
                  </tfoot>
                </table>
              </div>
              <!--end of .table-responsive-->
            </div>
          </div>
        </div>


      </div>


    </div>
  </div>
  <div class="container" *ngIf="activeTab===3">
    <input style="margin-bottom: 5px;" [(ngModel)]="searchTextUser" [ngModelOptions]="{standalone: true}" type="search"
      placeholder="Search">
      <ng-container>
        <form [formGroup]="userReportForm" >
        <div class="form-group row">
          <label class="col-2 col-form-label" for="report_user_start">Start Date</label>
          <div class="col-10">
            <input class="form-control" type="date" id="report_user_start" formControlName="start_date" value="">
            <div *ngIf="!userReportForm.get('start_date').valid && userReportForm.get('start_date').touched"
              class="form-control-feedback">
              Shucks, enter a date for your users.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label" for="report_user_end">End Date</label>
          <div class="col-10">
            <input class="form-control" type="date" id="report_user_end" formControlName="end_date" value="">
            <div *ngIf="!userReportForm.get('end_date').valid && userReportForm.get('end_date').touched"
              class="form-control-feedback">
              Shucks, enter a date for your users.
            </div>
          </div>
        </div>
        <button class="btn btn-primary" (click)="createReportUser()" >Create Report</button>
        <button class="btn btn-primary" (click)="createUserWiseOrderReport()" >Create User wise order report</button>
      </form>
      </ng-container>
      <br>
    <!-- <button type="button" class="btn  btn-circle btn-outline-primary"><i class="fa fa-plus" aria-hidden="true"></i></button> -->
    <div class="row">
      <div class="col">
        <form [formGroup]="registerForm" *ngIf="!isActiveEditForm">
          <div class="form-row align-items-center">
            <div class="col-auto form-group">
              <label class="sr-only" for="inlineFormInputGroup">Email</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">@</div>
                </div>
                <input type="text" formControlName="email" class="form-control" id="inlineFormInputGroup"
                  placeholder="email">
              </div>
            </div>
            <!-- <div class="col-auto">
              <label class="sr-only" for="inlineFormInput">Password</label>
              <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Password">
            </div> -->

            <div class="col-auto">
              <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" [(ngModel)]="isChecked" [ngModelOptions]="{standalone: true}"
                  (change)="checkValue(isChecked?'admin':'user')" class="custom-control-input"
                  id="customControlAutosizing">
                <label class="custom-control-label" for="customControlAutosizing">As Admin</label>
              </div>
            </div>
            <div class="col-auto">
              <div class="custom-control mr-sm-2">
                <button type="submit" class="btn btn-primary mb-4" (click)="createUser()">Create</button>

              </div>
            </div>
          </div>
        </form>


        <form *ngIf="isActiveEditForm">
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="validationDefault01">First name</label>
              <input [(ngModel)]="fname" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                id="validationDefault01" placeholder="First name" value="Mark" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationDefault02">Last name</label>
              <input [(ngModel)]="lname" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                id="validationDefault02" placeholder="Last name" value="Otto" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationDefaultUsername">Username</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend2">@</span>
                </div>
                <input [(ngModel)]="editEmail" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                  id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <select class="form-control" [(ngModel)]="currentEditRole" [ngModelOptions]="{standalone: true}"
                (change)="changeValue($event)">
                <option value="user">User</option>
                <option value="admin">Admin</option>
              </select>
            </div>
          </div>
          <!-- <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
              <label class="form-check-label" for="invalidCheck2">
                Agree to terms and conditions
              </label>
            </div>
          </div> -->
          <button class="btn btn-primary" type="submit" (click)="onEditUserConfirm()">Save Changes</button>
          <button class="btn btn-light" (click)="onEditUserCancel()">Cancel</button>
        </form>


      </div>
      <div class="table-overflow">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Email</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Role</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of allUsers  | filterUser : searchTextUser">
              <th scope="row">{{user?._id}}</th>
              <td>{{user?.email}}</td>
              <td>{{user?.first_name}}</td>
              <td>{{user?.last_name}}</td>
              <td>
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <span style="margin-top: 17px !important;background-color: #28a745;" *ngIf="user?.role ==='admin'"
                        class="badge badge-success"><i class="fa fa-user-secret" aria-hidden="true"></i> ADMIN</span>
                      <span style="margin-top: 17px !important;" *ngIf="!user || !user?.role || user?.role ==='user'"
                        class="badge badge-info"><i class="fa fa-user" aria-hidden="true"></i> USER</span>

                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="container">
                  <div class="row">

                    <div class="container">
                      <div class="row justify-content-start">
                        <div class="col-md-2">
                          <button type="button" (click)="onClickEditUser(user)" class="btn btn-outline-primary btn-sm">
                            <span class="badge badge-light"><i class="fa fa-pencil-square-o"
                                aria-hidden="true"></i></span></button>
                        </div>
                        <div class="col-md-2">
                          <button (click)="deleteUser(user?._id,user?.email)" type="button"
                            class="btn btn-danger btn-sm">
                            <span class="badge badge-danger"><i style="color: white;" class="fa fa-trash"
                                aria-hidden="true"></i></span>
                          </button>
                        </div>
                        <div class="col-md-8">
                          <button *ngIf="user?.active" (click)="activeDeactiveUser(user?._id,user?.email,'deactivate')"
                            type="button" class="btn btn-outline-success btn-sm">
                            Activeted <span class="badge badge-light"><i style="color: rgb(7, 223, 7);"
                                class="fa fa-heart blink" aria-hidden="true"></i></span>
                          </button>
                          <button *ngIf="!user?.active" (click)="activeDeactiveUser(user?._id,user?.email,'activate')"
                            type="button" class="btn btn-outline-warning btn-sm">
                            Deactivated <span class="badge badge-light"><i style="color: rgb(236, 141, 32);"
                                class="fa fa-heartbeat" aria-hidden="true"></i></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>



              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>


  <div class="container" *ngIf="activeTab===4">
    <input style="margin-bottom: 5px;" [(ngModel)]="searchTextOrder" [ngModelOptions]="{standalone: true}" type="search"
      placeholder="Search">
      <form [formGroup]="orderReportForm"  (ngSubmit)="createReportOrder()">
        <div class="form-group row">
          <label class="col-2 col-form-label" for="report_order_start">Start Date</label>
          <div class="col-10">
            <input class="form-control" type="date" id="report_order_start" formControlName="start_date" value="">
            <div *ngIf="!orderReportForm.get('start_date').valid && orderReportForm.get('start_date').touched"
              class="form-control-feedback">
              Shucks, enter a date for your order.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label" for="report_order_end">End Date</label>
          <div class="col-10">
            <input class="form-control" type="date" id="report_order_end" formControlName="end_date" value="">
            <div *ngIf="!orderReportForm.get('end_date').valid && orderReportForm.get('end_date').touched"
              class="form-control-feedback">
              Shucks, enter a date for your order.
            </div>
          </div>
        </div>
        <div class="fform-group row">
          <label class="col-2 col-form-label" for="report_order_status">Status</label>
          <div class="col-6">
            <select id="report_order_status" class="form-control"  (change)="onChangeOrderStatusForReport($event.target.value)">
              <option selected value="PAID">ALL</option>
              <option value="PAID">PAID</option>
              <option  value="COMPLETED">COMPLETED</option>
              <option  value="NOT COMPLETED">NOT COMPLETED</option>
              <option value="PENDING">PENDING</option>
              <option value="SHIPPED">SHIPPED</option>
            </select>
          </div>
         
        </div>
        <button class="btn btn-primary" type="submit" >Create Report</button>
      </form>
    <!-- <button type="button" class="btn  btn-circle btn-outline-primary"><i class="fa fa-plus" aria-hidden="true"></i></button> -->
    <div class="row" >
      <div class="table-overflow">
        <table class="table table-bordered" >
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Delivery Date</th>
              <th scope="col">Total Price</th>
              <th scope="col">Payment Type</th>
              <th scope="col">Recipient Name</th>
              <th scope="col">Contact Number</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of allOrders   | filterOrders : searchTextOrder">
              <th scope="row">{{order?.order_id}}</th>
              <td>{{ order?.returnDate | date: 'yyyy-MM-dd' }}</td>
              <td>{{order?.total_price}}</td>
              <td> {{order.payment_type=== 'CC'? 'Credit Card' : order.payment_type=== 'DC'? 'Debit Card':'Cash On Delivery'}} </td>
              <td>
                {{ order?.recipient_name }}
                <!-- <div class="container">
                  <div class="row">
                    <div class="col">
                      <span style="margin-top: 17px !important;background-color: #28a745;" *ngIf="user?.role ==='admin'"
                        class="badge badge-success"><i class="fa fa-user-secret" aria-hidden="true"></i> ADMIN</span>
                      <span style="margin-top: 17px !important;" *ngIf="!user || !user?.role || user?.role ==='user'"
                        class="badge badge-info"><i class="fa fa-user" aria-hidden="true"></i> USER</span>

                    </div>
                  </div>
                </div> -->
              </td>
              <td>
                {{ order?.contact_number }}
              </td>
              <td>
                <div class="container">
                  <div class="row">

                    <div class="container">
                      <div class="row justify-content-start">
                        <!-- <div class="col-md-2"> -->
                          <!-- <button type="button" (click)="onClickEditUser(user)" class="btn btn-outline-primary btn-sm">
                            <span class="badge badge-light"><i class="fa fa-pencil-square-o"
                                aria-hidden="true"></i></span></button> -->
                        <!-- </div> -->
                        <!-- <div class="col-md-2"> -->
                          <!-- <button (click)="deleteOrder(order?._id)" type="button"
                            class="btn btn-danger btn-sm">
                            <span class="badge badge-danger"><i style="color: white;" class="fa fa-trash"
                                aria-hidden="true"></i></span>
                          </button> -->
                        <!-- </div> -->
                        <div class="col-md-8">
                          <form class="form-inline">
                            <div class="form-group col-md-4">
                              <button (click)="deleteOrder(order?._id)" type="button"
                              class="btn btn-danger btn-sm">
                              <span class="badge badge-danger"><i style="color: white;" class="fa fa-trash"
                                  aria-hidden="true"></i></span>
                            </button>
                            </div>
                            <div class="form-group col-md-4">
                              <select id="inputState" class="form-control"  (change)="onChangeOrderStatus(order?._id,$event.target.value)">
                                <option [selected]="order?.payment_status == 'PAID'" value="PAID">PAID</option>
                                <option [selected]="order?.payment_status == 'NOT COMPLETED'" value="NOT COMPLETED">NOT COMPLETED</option>
                                <option [selected]="order?.payment_status == 'COMPLETED'" value="COMPLETED">COMPLETED</option>
                                <option [selected]="order?.payment_status == 'PENDING'" value="PENDING">PENDING</option>
                                <option [selected]="order?.payment_status == 'SHIPPED'" value="SHIPPED">SHIPPED</option>
                              </select>
                            </div>
                          </form>
                          <!-- <button *ngIf="order?.status === 'COMPLETED'" (click)="changeOrderStatus(order?._id,'deactivate')"
                            type="button" class="btn btn-outline-success btn-sm">
                            {{order?.status}} <span class="badge badge-light"><i style="color: rgb(7, 223, 7);"
                                class="fa fa-heart blink" aria-hidden="true"></i></span>
                          </button>
                          <button *ngIf="order?.status === 'PENDING'" (click)="changeOrderStatus(user?._id,user?.email,'deactivate')"
                          type="button" class="btn btn-outline-success btn-sm">
                          {{order?.status}} <span class="badge badge-light"><i style="color: rgb(7, 57, 223);"
                              class="fa fa-heart blink" aria-hidden="true"></i></span>
                        </button>
                          <button *ngIf="order?.status==='PAID'" (click)="changeOrderStatus(user?._id,user?.email,'activate')"
                            type="button" class="btn btn-outline-warning btn-sm">
                            {{order?.status}} <span class="badge badge-light"><i style="color: rgb(236, 141, 32);"
                                class="fa fa-heartbeat" aria-hidden="true"></i></span>
                          </button> -->
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <!-- Modal -->

  <div style="z-index: 20000 !important;" class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- For demo purpose -->


          <div class="container">

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>