<section class="container-fluid" *ngIf="promo">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12">
      <!-- <div class="fw-section rounded padding-top-4x padding-bottom-4x" [ngStyle]="{'background-image': 'url(' + promo.image_urls + ')'}"> -->
        <div class="fw-section rounded padding-top-4x padding-bottom-4x" [ngStyle]="{'background-image': 'url(https://thebikeshed.cc/wp-content/uploads/2019/12/Bike-Shed-London-2020-Amy-Shore-8.jpg)'}">
        <span class="overlay rounded" style="opacity: .35;"></span>
        <div class="text-center">
          <h3 class="display-4 text-normal text-white text-shadow mb-1">{{ promo.preHeading }}</h3>
          <h2 class="display-2 text-bold text-white text-shadow">{{ promo.heading }}</h2>
          <h4 class="d-inline-block h2 text-normal text-white text-shadow border-default border-left-0 border-right-0 mb-4">{{ promo.afterHeading }}</h4>
          <br>
          <a class="btn btn-primary margin-bottom-none" href="https://www.carandclassic.co.uk/cat/15/">{{ promo.buttonText }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
