<app-page-title [title]="router.url === '/account/profile' ? 'My Profile' : 'My Orders'" [children]="[{title: 'Account', link: '/account'}, {title: router.url === '/account/profile' ? 'My Profile' : 'My Orders'}]"></app-page-title>

<!-- Page Content-->
<div class="container padding-bottom-3x mb-2 ml-1">
  <div class="row">
    <div class="col-lg-4">
      <aside class="user-info-wrapper">
        <div class="user-cover align-self-center" style="width: 35%;margin-left: 34%;" [ngStyle]="{ 'background-image': user && user.photoURL ? 'url('+ user.photoURL +')': 'img/account/user-ava.jpg'}">
        </div>
        <div class="user-info">
          <!-- <div class="user-avatar">
            <a class="edit-avatar" href="#"></a>
            <img src="img/account/user-ava.jpg" alt="User">
          </div> -->
          <div *ngIf="user" class="user-data">
            <h4>{{ user.firstName }} {{ user.lastName }}</h4>
            <span>{{ user.email }} <span *ngIf="user && user.role && user.role ==='admin'">(Admin)</span></span>
          </div>
          <!-- <button [disabled]="isUploadDisable" type="button" class="btn btn-success btn-sm"
            (click)="uploader.uploadAll()">
            Change Profile Picture
          </button> -->
          
        </div>
        <div [ngStyle]="{ 'margin-top' : (user && user.photoURL) ? '' : '39px' }"  *ngIf="!onUploaded"class="fileUpload" style="    background: #ff870b !important;">
          <input   id="file-input" type="file" class="upload" (change)="fileChoose($event)" name="photo" ng2FileSelect [uploader]="uploader" />
          <span style="    font-size: 12px;"><i style="    font-size: initial !important;" class="fa fa-camera" aria-hidden="true"></i>&nbsp;Upload New</span>
      
      </div>
      <div  [ngStyle]="{ 'margin-top' : (user && user.photoURL) ? '' : '39px' }"   (click)="uploader.uploadAll();uploadEvent()" *ngIf="onUploaded" class="fileUpload  animated fadeInLeft">
        <i style="    font-size: initial !important;" class="fa fa-upload bounce" aria-hidden="true"></i>&nbsp;Upload Me
      </div>

      </aside>
      <div *ngIf="isProgressbarActive" class="progress form-group" [ngClass]="isUploadError?'animated flash':''" >
        <div class="progress-bar progress-bar-striped " [ngClass]="isUploadError?'bg-danger':'bg-success'" role="progressbar" [style.width.%]="progress">
        </div>
    </div>
      <nav class="list-group">
        <a class="list-group-item" routerLinkActive="active" routerLink="/account/profile">
          <i class="icon-head"></i>Profile
        </a>

        <a class="list-group-item with-badge" routerLinkActive="active" routerLink="/account/orders" href="">
          <i class="icon-bag"></i>Orders
        </a>
      </nav>
      <p *ngIf="warning" class="text-danger"> <B>Please Update the profile after your changes </B> </p>
    </div>
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

